@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-blue: #0088cc;
  --tg-bg: #ffffff;
  --tg-gray: #8e8e93;
  --tg-light-gray: #f1f1f2;
}

body {
  margin: 0;
  background-color: #f4f4f4; /* Цвет фона за пределами телефона */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

/* Скроллбар как в iOS */
::-webkit-scrollbar {
  width: 0px;
}

.ios-tap:active {
  background-color: var(--tg-light-gray);
  transition: background-color 0.1s;
}
