@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-blue: #0088cc;
  --tg-bg-gray: #efeff4; /* Тот самый серый фон настроек iOS */
}

body {
  margin: 0;
  background-color: var(--tg-bg-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Эффект нажатия как в ТГ */
.tg-tap:active {
  background-color: #d1d1d6 !important;
}

/* Фон чата (облачный градиент) */
.chat-bg {
  background: #7da5ce;
  background-image: linear-gradient(180deg, #7da5ce 0%, #9db7d3 100%);
  background-attachment: fixed;
}
